@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'museo_slab500';
    src: url('museo_slab-webfont.eot');
    src: url('../fonts/museo_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab-webfont.woff') format('woff'),
         url('../fonts/museo_slab-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

.nav.navbar-nav a {
  padding: 21px 13px;
}

body {     font-family: 'museo_slab500'; }
/*header css start here*/
.head-wrap{width:100%; float:left; background:#3a5795; border-bottom:4px solid #ffffff; padding:36px 0px;}
.nav-area { margin:0px 0 0 0;}
.nav-area .navbar-inverse{ background:none; border:0px;}
.nav-area .navbar{ margin:0px;}
.nav-area .navbar ul li a{ color:#ffffff;}
.search-login{ width:100%; float:left; margin:10px 0 0 0;}
.search-login .login-box{ float:right;}
.search-login .login-box ul { margin:7px 0 0 0px; padding:0px; list-style-type:none;}
.search-login .login-box ul li{ float: left; margin:0 0 0 20px;}
.search-login .login-box ul li a{ color:#ffffff;}

.search-login .search-box{ width:100%; float:left; border:#fff 1px solid; max-width:140px; height:35px; border-radius:3px;}
.search-login .search-box a{ float:left; margin:7px 0 0 5px; color:#ffffff;}
.search-login .search-box .form-control{ width:80%; border:0px; border-radius:0px; background:none; float:right;}
/*header css End here*/
/*Banner css start*/
.banner-wrap{ width:100%; float:left; background:url(../images/banner.jpg) no-repeat;  background-size:100% 100%;}
.banner-area{ width:100%; float:left;}
.banner-area .ban-cont{ width:100%; max-width:560px; margin:360px auto 270px; text-align:center;}
.banner-area .ban-cont h1{ font-family:"Museo Slab 500"; font-size:40px; color:#fff; }
.banner-area .ban-cont p{ font-size:17px; font-family:Arial; color:#ffffff; line-height:20px; padding:15px 0 30px 0;}
.btn-area a{ background:#16a5bf; display:block; height:53px; line-height:53px; color:#ffffff; font-family:"Museo Slab 500"; font-size:20px; text-align:center; text-decoration:none;}
.btn-area a.browse-investor{ background:#d64e69;}
/*Banner css End*/

/* midcontent css start here*/

.content-wrap{ width:100%; float:left;}
.bby-industry{ width:100%; float:left; padding:125px 0;}
.bby-ind-area{ width:100%; float:left; text-align:center;}
.bby-ind-area h2{ font-size:40px; color:#16a5bf;  font-family:"Museo Slab 500";}
.bby-ind-area p{font-size:20px; color:#6c6c6c;  padding:20px 0;}
.cat-img-area{ width:100%; float:left; text-align:center; position:relative; margin:0 0 30px 0; }
.cat-img-area img{ width:100%;}
.cat-img-area .cat-txt{ position:absolute; top:45%; text-align:center; width:100%; }
.cat-img-area .cat-txt p{ color:#fff;  font-family:"Museo Slab 500"; font-size:20px; margin:0px; padding:0px; }


.startup_blck{width:100%; float:left;background:#f5f5f5; padding:50px 0;}
.startup-area { width:100%; float:left;}
.startup-area h3 {font-size:40px; color:#d64e69; text-align:center; font-family:"Museo Slab 500";}
.startup-area p.head-txt{ font-family:"Museo Slab 500"; font-size:20px;color:#000; text-align:center; background:url(../images/heading-bgr.jpg) no-repeat center bottom; padding:15px 0 30px 0;
 margin:0 0 40px 0;}
.startup-area p { font-size:17px; color:#404040; text-align:center;}
.startup-area p span{ display:block;}
.box-area{ width:100%; float:left; text-align:center; margin:85px 0 0 0;}
.box-area p.head{ font-size:20px; color:#000000; font-family:"Museo Slab 500";}
.box-area p{ font-size:17px; color:#6f6e6e;}

.bot-btn-area{ width:100%; max-width:560px; margin:60px auto 0;}
.investor{ background:#3a5795;}
.investor .startup-area p.head-txt { background:url(../images/heading-bgr-2.png) no-repeat center bottom;}
.investor .startup-area h3{ color:#fff;}
.investor .startup-area  p.head-txt{ color:#a5e9f5;}
.investor .startup-area p{ color:#fff;}
.investor .startup-area  .box-area p.head{ color:#fff;}
.investor .startup-area .box-area p{ color:#fff;}
/* mid content css end here*/

/*footer css start here*/
.foot-wrap{ background:#060d1c; width:100%; float:left; padding:50px 0 0px 0;}
.foot-area{ width:100%; max-width:800px; margin:0 auto;}
.foot-area .foot-box{ width:100%; float: left;}
.foot-area .foot-box p.foot-head{ font-size:20px;  font-family: 'museo_slab500'; color:#fff;}
.foot-area .foot-box  ul { margin:0px; padding:0px; list-style-type:none;}
.foot-area .foot-box  ul li{ padding:2px 0;}
.foot-area .foot-box  ul li a{ font-size:15px; font-family:arial; color:#fff; text-decoration:none;}
.foot-area .foot-box  ul.social-list li{ float:left; margin:0 10px 0 0;}
.foot-area .foot-box  ul.social-list li a{ width:31px; height:31px; display:block; }
.foot-area .foot-box  ul.social-list li a.fb{ background: url(../images/fb-icon.png) no-repeat;}
.foot-area .foot-box  ul.social-list li a.fb:hover{ background: url(../images/fb-icon.png) no-repeat 0px -31px;}
.foot-area .foot-box  ul.social-list li a.twitter{ background: url(../images/twitter-icon.png) no-repeat;}
.foot-area .foot-box  ul.social-list li a.twitter:hover{ background: url(../images/twitter-icon.png) no-repeat 0px -31px;}
.foot-area .foot-box  ul.social-list li a.linkedin{ background: url(../images/linkedin-icon.png) no-repeat;}
.foot-area .foot-box  ul.social-list li a.linkedin:hover{ background: url(../images/linkedin-icon.png) no-repeat 0px -31px;}
.foot-area .foot-box  ul.social-list li a.gplus{ background: url(../images/googleplus-icon.png) no-repeat;}
.foot-area .foot-box  ul.social-list li a.gplus:hover{ background: url(../images/googleplus-icon.png) no-repeat 0px -31px;}
.foot-area .bot-footer{ width:100%; float:left; border-top:#363b47 1px solid; padding:10px 0; margin:35px 0 0 0;}
.foot-area .bot-footer ul.terms-list{ margin:0px; padding:0px; list-style-type:none;}
.foot-area .bot-footer ul.terms-list li{ float:left; margin:0 10px 0 0; }
.foot-area .bot-footer ul.terms-list li a{ text-decoration:none; color:#fff; font-size:12px; font-family:arial;}
.foot-area .bot-footer p{ font-size:12px; color:#fff; padding:7px 0; text-align:right;}


/*footer css end here*/

/*css by manisha*/

.sign-up {
  float: left;
  width: 100%;
}

.sign-up h2 {
  color: #d64e69;
  font-size: 35px;
  margin-top: 6%;
  text-align: center;
}

.f_main {
  float: left;
  text-align: center;
  width: 100%;
}

.sign-up-inner {
  background: #16a5bf none repeat scroll 0 0;
  display: inline-table;
  margin-top: 4%;
  text-align: center;
  width: 60%;
} 

.facbook_icon {
  border-right: 1px solid #5cc0d2;
  color: #fff;
  float: left;
  font-size: 30px;
  text-align: center;
  width: 14%;
  padding: 10px 0;
}
.facbook_icon .fa {
  float: none;
  text-align: center;
  width: auto;
}
.facbook_text {
  color: #fff;
  float: left;
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
  width: 80%;
}
.facbook_text_1{
  color: #fff;
  float: left;
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
  width: auto;
}
.facbook_text > p {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}
.linked_icon {
  color: #fff;
  float: right;
  font-size: 30px;
  text-align: center;
  width: 20%;
}

.linked_icon img {
  margin-top: 9px;
  width: 30px;
}
.f_f {
  margin: 33px auto 0;
  text-align: center;
  width: 90%;
}

.login_bg form {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 93%;
}

.login_bg select {
  box-sizing: border-box;
  float: left;
  margin: 10px 30px 33px 0;
  padding: 15px 0 15px 10px;
  width: 100%; color:#999;
}
.linked_text {
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: auto;
}
.facbook_text_1 > p {
  font-size: 20px;
  margin-top: 8px;
  text-align: center;
}
.f_main .sign-up-inner_1 .facbook_icon_1{
  border-right: 1px solid #5cc0d2;
  color: #fff;
  float: left;
  font-size: 30px;
  text-align: center;
  width: 12%;
}
.sign-up-inner_1 .facbook_icon_1 .fa {
  float: none;
  margin-top: 8px;
  text-align: center;
  width: auto;
}
.linked_text p {
  color: #000;
  float: left;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 8px;
  text-align: center;
}
.sign_up_or {
  margin: 26px 0;
  text-align: center;
}
.login_bg {
  background: #3a5795 none repeat scroll 0 0;
  border-bottom: 9px solid #d64e69;
  box-sizing: border-box;
  display: inline-table;
  padding: 30px;
  text-align: center;
  width: 59%;
}
.login_bg input {
  box-sizing: border-box;
  float: left;
  margin: 10px 30px 33px 0;
  padding: 15px 0 15px 10px;
  width: 100%;
}
.login_bg .btn.btn-default {
  background: #d64e69 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  float: left; font-size:20px;
  padding: 13px 53px;  margin-left: 20px;
}
.check_box {
  color: #fff;
  float: right;
  margin-top: 16px;
}
.check_box input {
  float: left;
  margin: 6px 0;
  padding: 10px;
  width: auto;
}
.check_box p {
  float: left;
  margin: 0 28px;
}
.forgot {
  color: #fff;
  float: left;
  margin: 20px 0 0;  margin-left: 20px;
}
.sign-up {
  float: left;
  margin-bottom: 60px;
  margin-top: 20px;
  width: 100%;
}
.create_profile {
  float: left;
  text-align: center;
  width: 100%;
}
.create_profile p {
  color: #141313;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.sign-up-inner_1 {
  background: #16a5bf none repeat scroll 0 0;
  display: inline-table;
  margin-right: 16px;
  text-align: center;
  width: 30%;
}
.sign-up-inner_1.linked {
  background: #d4d4d4 none repeat scroll 0 0;
}
.check_box_1 {
  color: #fff;
  float: left;
  margin-top: 16px;  margin-left: 20px;
}
.check_box_1 input {
  float: left;
  margin: 5px 0;
  padding: 10px;
  width: auto;
}
.check_box_1 p {
  float: left;
  margin: 0 13px;
}

.register .btn.btn-default {
  background: #d64e69 none repeat scroll 0 0;
  border: medium none; float:none;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  padding: 13px 53px;
}
.register {
  text-align: center;
  width: 100%;
}
.account {
  font-size: 16px;
  margin: 10px 0;
  width: 100%;
}
.account span {
  color: #d64e69;
}
.dropdown button {
  float: left;
  width: 100%;
}

@media  (max-width:1200px){
	
	.sign-up-inner_1 {
  width: 36%;
}
.sign-up-inner_1.linked {
  margin-right: 0;
}
}
@media  (max-width:1000px){
.check_box {
  float: left;

}
.login_bg {
  width: 90%;
}

.sign-up-inner_1 {
  width: 48%;
}
}
@media  (max-width:800px){
.check_box {
  margin-left: 20px;
  margin-top: 16px;
}
.f_f {
  width: 100%;
}
.login_bg {
  width: 85%;
}
.login_bg form {
  float: left;
  margin-left: 0;
  margin-top: 20px;
  width: 100%;
}
.sign-up-inner_1 {
  margin-bottom: 20px;
  margin-right: 0;
  width: 42%;
}
.login_bg .btn.btn-default {
  margin-left: 0;

}
.check_box_1 {
  float: left;
  margin-left: 0;
  width: 100%;
}
.linked_icon {
  width: 15%;
}
.check_box_1 input {
  margin: 3px 0;
  width: 10%;
}
.check_box_1 p {
  float: left;
  width: auto;
}
.check_box_1 input {
  margin: 3px 10px 3px 0;
  width: auto;
}
}
@media  (max-width:767px){
	.sign-up-inner_1 {
  width: 54%;
}
.login_bg {
  width: 57%;
}
.check_box_1 p {
  width: 92%; margin:0px;
}
}

@media  (max-width:600px){
.f_main {
  width: 100%;
}
.check_box_1 {
  margin-left: 0;
}
.check_box {
  float: left;
  margin-left: 16px;
}
.login_bg {
  width: 100%;
}
.sign-up-inner_1 {
  width: 100%;
}
.sign-up-inner {
  width: 100%;
}

.check_box_1 p {
  float: left;
  width: 80%;
}
.check_box_1 input {
  margin: 3px 10px 3px 0;
  width: 10px;
}
.check_box {
  float: left;
  margin-left: 0;
  width: 100%;
}
.check_box input {
  margin: 4px 0;

}

}

@media  (max-width:320px){
	
.linked_text p {
  font-size: 17px;
  margin-left: 11px;
}	
.facbook_text_1 > p {
  font-size: 17px;
  margin-top: 8px;
  text-align: center;
}
.linked_icon img {
  margin-top: 8px;
  width: 30px;
}
}

/*endd of css by manisha*/


@media (min-width:320px) and (max-width:767px){
	.logo-area{ border-bottom:#4765a5 1px solid; padding:0 0 10px 0;}	
	.head-wrap{padding:15px 0px;}	
	.search-login{ margin:0px;}
	.search-login .form-group{ margin:0px 0 0 0;}
	.search-login .search-box{ max-width:100%; }
	.search-login .login-box {  width:100%;}
	.search-login .search-box .form-control{ width:90%; }
	.search-login .search-box a{ text-align:center;}
	.search-login .login-box ul li{margin:0 20px 0 0px;}
	.banner-area .ban-cont{ margin:10% 0 ; max-width:100%;}
	.btn-area a.browse-investor{ margin:15px 0 0 0;}
	.bby-industry{ padding:5% 0 5% 0;}
	.cat-img-area{ margin:0 0 5% 0;}
	.startup_blck{ padding:15px 0;}
	.startup-area p.head-txt{ margin:0 0 15px 0; }
	.box-area{ margin:20px 0;}
	.bot-btn-area{ margin:0px; max-width:100%;}
	.foot-area .bdr{ border-bottom:#081124 1px solid; padding:0 0 15px 0; margin:0 0 10px 0;}
	.foot-area .bot-footer ul.terms-list li{ float:none; border-bottom:#081124 1px solid; padding:6px 0 6px 0;  }
	.foot-area .bot-footer p{ text-align:left;}
	}
@media (min-width:768px) and (max-width:980px){
	.head-wrap{padding:15px 0px;}	
	.search-login{ margin:0px;}
	.search-login .form-group{ margin:0px 0 0 0;}
	.search-login .search-box{ max-width:100%; }
	.search-login .login-box {  width:100%;}
	.search-login .search-box .form-control{ width:90%; }
	.search-login .search-box a{ text-align:center;}
	.search-login .login-box ul li{margin:0 20px 0 0px;}
	.banner-area .ban-cont{ margin:10% 0 ; max-width:100%;}
	.btn-area a.browse-investor{ margin:15px 0 0 0;}
	.bby-industry{ padding:5% 0 5% 0;}
	.cat-img-area{ margin:0 0 5% 0;}
	.startup_blck{ padding:25px 0;}
	.startup-area p.head-txt{ margin:0 0 15px 0; }
	.box-area{ margin:20px 0;}
	.bot-btn-area{ margin:0px;max-width:100%;}
	.foot-area .bdr{ border-bottom:#081124 1px solid; padding:0 0 15px 0; margin:0 0 10px 0;}
		.foot-area .bot-footer p{ text-align:left;}
	}
@media (min-width:981px) and (max-width:1024px){
	.search-login .login-box ul li{ margin:0 0 0 15px;}
	.nav-area .navbar-nav > li > a { padding:10px 5px;}
	.bby-industry{ padding:5% 0 5% 0;}
	.cat-img-area{ margin:0 0 5% 0;}
	.startup_blck{ padding:30px 0;}
	.box-area{ margin:20px 0;}
	.bot-btn-area{ margin:0px; max-width:100%;}
	.foot-area .bdr{ border-bottom:#081124 1px solid; padding:0 0 15px 0; margin:0 0 10px 0;}
		.foot-area .bot-footer p{ text-align:left;}
}

@media (min-width:1025px) and (max-width:1200px){
	.search-login .login-box ul li{ margin:0 0 0 15px;}
	.nav-area .navbar-nav > li > a { padding:10px 5px;}
}